/* FONTS */
h1 {
	font-family: 'Comfortaa', cursive;
}

#quote {
	font-family: 'Caveat', cursive;
	color: #000000a0;
}

body {
	font-size: large;
	font-family: 'Ubuntu', sans-serif;
}

@media(min-width: 1000px) {
	body {
		font-size: x-large;
	}
}

@media(min-width: 1800px) {
	body {
		font-size: xx-large;
	}
}

/* SIZES AND MARGINS */
h1, h2 {
	margin-top: 0;
	margin-bottom: 0;
}

body {
	margin: 3em;
}

row {
	display: flex;
}

.artwork {
	width: 100%;
	height: auto;
}

.shadow {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.border {
	border-style: solid;
	border-width: 0.5em;
	border-color: white;
}