		.background-img {
		    width: 100%;
		    position: absolute;
		    bottom: 0px;
		}

		.background-g {
		    width: 50px;
		    position: absolute;
		    bottom: 18px;
		    right: 18px;
		}

		.background-phone {
			  margin-left:10%;
			  width: 28%;
			  filter: drop-shadow(0px 0px 5px #222);
			  position: absolute;
			  bottom: -9%;
			  overflow: hidden;
		}

		.background-shutter {
			  margin-left:21.2%;
			  width: 6%;
			  position: absolute;
			  bottom: 2%;
		}

		.background-shutter:hover {
			filter: drop-shadow(0px 0px 5px #fff);
			transition: 0.2s filter linear;
			transition-timing-function: ease;
		}

		.heading {
			font-size: xx-large;
		}

		.content {
			position: absolute;
			top: 5%;
			right: 5%;
			font-family: 'Roboto', sans-serif;
		}

	  	blockquote{
		  margin: 20px 0;
		  padding-left: 1.5rem;
		  border-left: 5px solid #FFC107; /* Just change the color value and that's it*/
		}

		body {
			font-family: 'Roboto';
			font-weight: 300;
		}

		.thin {
			font-weight: 100;
		}

		.multichip {
		    line-height: 300%;
		}

		.phone {
			position:fixed;
			top: 14%;
    		right: 10%;
    		width: 20%;
		}


		.screen {
			position:absolute;
			margin-top: 15%;
			margin-left: 3.5%;
			margin-right: 3.5%;
		}

		.screen-inner {
			pointer-events: none;
			-ms-user-select: none;
			-moz-user-select: none;
			-webkit-user-select: none;
			user-select: none;    
		}

		.phone-frame {
			position: absolute;
    		-webkit-filter: drop-shadow(12px 12px 25px rgba(0,0,0,0.5));
    		filter: url(#drop-shadow);
            -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
    		filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
  		}
		
		.heart {
			  -webkit-animation: 0.5s beat infinite alternate;
			  -moz-animation: 0.5s beat infinite alternate;
			  -ms-animation: 0.5s beat infinite alternate;
			  -o-animation: 0.5s beat infinite alternate;
			  animation: 0.5s beat infinite alternate;
		}
		
		@keyframes beat{
			to { transform: scale(0.8); }
		}
		
		.blinking-cursor {
			  -webkit-animation: 1s blink step-end infinite;
			  -moz-animation: 1s blink step-end infinite;
			  -ms-animation: 1s blink step-end infinite;
			  -o-animation: 1s blink step-end infinite;
			  animation: 1s blink step-end infinite;
			}

			@keyframes "blink" {
			  from, to {
				color: transparent;
			  }
			  50% {
				color: white;
			  }
			}

			@-moz-keyframes blink {
			  from, to {
				color: transparent;
			  }
			  50% {
				color: white;
			  }
			}

			@-webkit-keyframes "blink" {
			  from, to {
				color: transparent;
			  }
			  50% {
				color: white;
			  }
			}

			@-ms-keyframes "blink" {
			  from, to {
				color: transparent;
			  }
			  50% {
				color: white;
			  }
			}

			@-o-keyframes "blink" {
			  from, to {
				color: transparent;
			  }
			  50% {
				color: white;
			  }
			}