/* FONTS */
font.goog-blue {
	color: #4285F4;
}

font.goog-red {
	color: #DB4437;
}

font.goog-yellow {
	color: #F4B400;
}

font.goog-green {
	color: #0F9D58;
}

body {
	font-size: large;
	font-family: 'Tahoma'
}

font.apple {
	font-family: -apple-system, BlinkMacSystemFont;
}

h1 {
	font-family: 'Arial'
}

@media(min-width: 1000px) {
	body {
		font-size: x-large;
	}
}

@media(min-width: 1800px) {
	body {
		font-size: xx-large;
	}
}

/* SIZES AND MARGINS */
body {
	margin: 3em;
}

#sign {
	height: 4em;
}