/* FONTS */
h1 {
	font-family: 'Comfortaa', cursive;
}

#quote {
	font-family: 'Caveat', cursive;
	color: #000000a0;
}

font.goog-blue {
	color: #4285F4;
}
font.goog-red {
	color: #DB4437;
}
font.goog-yellow {
	color: #F4B400;
}
font.goog-green {
	color: #0F9D58;
}
font.fuchsia {
	color: #FD3F92
}

body {
	font-size: large;
	font-family: 'Ubuntu', sans-serif;
}

@media(min-width: 1000px) {
	body {
		font-size: x-large;
	}
}

@media(min-width: 1800px) {
	body {
		font-size: xx-large;
	}
}

/* SIZES AND MARGINS */
h1, h2 {
	margin-top: 0;
	margin-bottom: 0;
}

body {
	margin: 3em;
}

#sign {
	height: 4em;
}

/* LINKS */

a {
	text-decoration: none;
	-webkit-transition: .3s all ease;
	-o-transition: .3s all ease;
	transition: .3s all ease;
	opacity: 0.5;
}

a:hover {
	opacity: 1;
}